:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#headBar {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  background-color: #646cff;
  width: 100vw;
  position: fixed;
  border-bottom: 3px solid #1a1a1a;
  z-index: 99;
  top: 0;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#app {
  margin-top: 7rem;
  width: 90%;
  max-width: 1500px;
  min-width: 500px;
}

#documentContainer {
  min-width: 500px;
  width: 100%;
}

#documentContainer button {
  margin: 1rem;
}

.centeredH2 {
  text-align: center;
}

#userForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #646cff;
  border-radius: 5px;
}

#storedDoc {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}

[id^="document-"] {
  border: 3px solid #1a1a1a;
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  background-color: white;
  padding-bottom: 4rem;
  color: black;
}
[id^="document-"] .btnContainer {
  position: absolute;
  display: flex;
  bottom: -1rem;
  right: 0;
  margin: 0;
  background-color: #535bf2;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1rem;
}

[id^="document-"] .headerContainer {
  padding: 1rem;
  margin: -1rem -1rem;
  background-color: #535bf2;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1rem;
}

.contentContainer {
  margin: 1rem 0;
  max-height: 500px;
  max-width: 700px;
  overflow: scroll;
}
button {
  border-radius: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
